SSID:	Galaxy A15 FC81
Protocol:	Wi-Fi 5 (802.11ac)
Security type:	WPA2-Personal
Manufacturer:	Intel Corporation
Description:	Intel(R) Wi-Fi 6 AX201 160MHz
Driver version:	24.20.0.4
Network band:	5 GHz
Network channel:	149
Link speed (Receive/Transmit):	433/433 (Mbps)
Link-local IPv6 address:	fe80::243b:ec9a:d431:a7f9%15
IPv4 address:	10.71.98.91
IPv4 DNS servers:	208.67.222.222 (Unencrypted)
208.67.220.220 (Unencrypted)
Physical address (MAC):	E6-1B-98-A7-83-98
